@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* root = light version */
:root{
  --clr-red:#ec3948;
  --clr-blue: #3a7bfd;
  --clr-green:#39ec99;
  --ff: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --btn-textColor: #515267;
  --borderTop-clr: #323449;

  --bgImg: url("./imgs/bg1.jpg") no-repeat center/cover;
  --gnrl-textColor: #312f3a;
  --bgColor: #25273c;
  --input-textColor: #e4e5f1;
  --themeBtn-textColor: #f7f5f7;
  --themeBtn-bgColor: #192e3a;
  --li-textColor: #a6abd8;
}

.dark{
  --bgImg: url("./imgs/bg2.png") no-repeat center/cover;
  --gnrl-textColor: #f7f5f7;
  --bgColor: #f7f5f7;
  --input-textColor: #25273c;
  --themeBtn-textColor: #25273c;
  --themeBtn-bgColor: #f7f5f7;
  --li-textColor: #111;
}

html {
  font-size: 62.5%;
}

svg{
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}
button{
  cursor: pointer;
  color: var(--btn-textColor);
  display: grid;
  user-select: none;
  place-items: center;
}
input,
button.btn{
  background: transparent;
  font: inherit;
  border: none;
}
button:focus,
input:focus{
  outline: 0;
}

.App{
  min-height: 100vh;
  background: var(--bgImg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: var(--fw-normal) var(--base-font) var(--ff);
}

/* main */
main{
  width: min(85%, 54rem);
  margin-top: 4rem;
}

/* header */
header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.9rem 2rem;
}
header h1{
  letter-spacing: 1.3rem;
  font-weight: 700;
  font-size: calc(var(--base-font) * 2);
  user-select: none;
  color: var(--gnrl-textColor);
}
header button.btn-round{
  color: var(--themeBtn-textColor);
  background-color: var(--themeBtn-bgColor);
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
}
header button svg{
  font-size: 2.4rem;
}

/* form */
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.9rem 2rem;
  background-color: var(--bgColor);
  margin: 2rem 0 2.5rem 0;
  border-radius: 0.5rem;
}
.input-container{
  flex: 1;
  order: 2;
}
.input-container input{
  width: 100%;
  padding: 0.7rem 0;
  color: var(--input-textColor);
}
.input-container input::placeholder{
  font-weight: bold;
}
form button[type="submit"]{
  order: 1;
}
form button[type="submit"]:hover{
  color: var(--clr-blue);
}
form button[type="button"]{
  order:3;
}
form button[type="button"]:hover{
  color: var(--clr-red);
}

/* todo */
.todos{
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--bgColor);
}
.todos li{
  display: flex;
  padding: 1.9rem 2rem;
  gap: 1rem;
  align-items: center;
}
.todos li.alert-message{
  color: var(--clr-red);
  font-weight: bold;
}
.todos li:not(:first-child){
  border-top: 0.2rem solid var(--borderTop-clr);
}
.todos li p.text{
  margin-left: 1rem;
  flex: 1;
  color: var(--li-textColor);
}
.todos li button.btn-circle{
  padding: 0.5rem;
  border-radius: 50%;
  border: 1.4px solid var(--btn-textColor);
}

.todos li button.checkBtn:hover{color: var(--clr-green); border: 1.4px solid var(--clr-green)}
.todos li button.editBtn:hover{color: var(--clr-blue); border: 1.4px solid var(--clr-blue)}
.todos li button.trashBtn:hover{color: var(--clr-red); border: 1.4px solid var(--clr-red)}

/* section */
section {
  background-color: var(--bgColor);
  padding: 1.9rem 2rem;
  font-size: calc(var(--base-font) - 0.3rem);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 0.2rem solid var(--borderTop-clr);
  border-radius: 0 0 0.5rem 0.5rem;
}
section .counter{
  color: var(--li-textColor);
  user-select: none;
}
section .filterBox{
  display: flex;
  justify-content: space-between;
}
section .filterBox *{
  margin: 0 5px;
  color: var(--li-textColor);
}
section .filterBox *:hover,
section .filterBox *.active{
  color: var(--clr-blue);
  font-weight: var(--fw-bold);
}
section .corner{
  justify-self: end;
}
section .corner button{
  color: var(--li-textColor);
}
section .corner button:hover{
  color: var(--clr-red);
  font-weight: var(--fw-bold);
}

/* footer */
footer {
  user-select: none;
  margin: 8rem 0 9rem;
  text-align: center;
  color: var(--gnrl-textColor);
}

/* js actions */
p.text.liChecked{
  font-style: italic;
  text-decoration: line-through;
  font-weight: bold;
}
ul button.v-hide{
  visibility: hidden;
}